Repository Bantuson/one-for-all: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, Backend API, Backend Tools, Backend Crew

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml
#
# This configuration sets coverage thresholds and reporting options
# for the One For All monorepo.

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
        informational: false
        only_pulls: false

    # Coverage for changed code in PR
    patch:
      default:
        target: 70%
        threshold: 5%
        if_ci_failed: error

# Separate coverage flags for different test types
flags:
  unit:
    paths:
      - apps/backend/src/
    carryforward: true
    after_n_builds: 1

  integration:
    paths:
      - apps/backend/src/
    carryforward: true
    after_n_builds: 1

  api:
    paths:
      - apps/backend/src/one_for_all/api/
    carryforward: true
    after_n_builds: 1

# Components for grouping coverage by area
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
      - type: patch
        target: auto

  individual_components:
    - component_id: backend-api
      name: Backend API
      paths:
        - apps/backend/src/one_for_all/api/**

    - component_id: backend-tools
      name: Backend Tools
      paths:
        - apps/backend/src/one_for_all/tools/**

    - component_id: backend-crew
      name: Backend Crew
      paths:
        - apps/backend/src/one_for_all/crew.py
        - apps/backend/src/one_for_all/config/**

# Ignore paths from coverage
ignore:
  - "**/__pycache__/**"
  - "**/tests/**"
  - "**/.venv/**"
  - "**/node_modules/**"
  - "**/*.md"
  - "**/migrations/**"

# PR comment configuration
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

# Parsers
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# GitHub checks
github_checks:
  annotations: true

feat(security): add tenant isolation middleware for multi-tenant access control
  apps/backend/src/one_for_all/api/app.py
  apps/backend/src/one_for_all/api/dependencies.py
  apps/backend/src/one_for_all/api/middleware/__init__.py
  apps/backend/src/one_for_all/api/middleware/rate_limiter.py
  apps/backend/src/one_for_all/api/middleware/tenant_isolation.py
  apps/backend/src/one_for_all/api/routers/agents.py
  apps/backend/src/one_for_all/api/routers/sessions.py
  apps/backend/src/one_for_all/api/schemas/__init__.py
  apps/backend/src/one_for_all/api/schemas/tenant.py
Due: unit, integration, api, Backend API

feat(security): add utility modules for auditing, rate limiting, and sanitization
  apps/backend/src/one_for_all/utils/db_audit.py
  apps/backend/src/one_for_all/utils/rate_limit.py
  apps/backend/src/one_for_all/utils/sanitization.py
Due: unit, integration

feat(tools): enhance analytics, document validation, and RAG capabilities
  apps/backend/src/one_for_all/crews/analytics_crew.py
  apps/backend/src/one_for_all/tools/__init__.py
  apps/backend/src/one_for_all/tools/analytics_queries.py
  apps/backend/src/one_for_all/tools/analytics_templates.py
  apps/backend/src/one_for_all/tools/comparative_analysis.py
  apps/backend/src/one_for_all/tools/deepseek_vision.py
  apps/backend/src/one_for_all/tools/document_validation_intake.py
  apps/backend/src/one_for_all/tools/policy_keyword_search.py
  apps/backend/src/one_for_all/tools/policy_rag.py
  apps/backend/src/one_for_all/tools/query_router.py
  apps/backend/src/one_for_all/tools/vision_tools.py
Due: unit, integration, Backend Tools

feat(notifications): add unified notification system with multi-channel routing
  apps/backend/src/one_for_all/tools/notification_router.py
  apps/backend/src/one_for_all/tools/unified_notification.py
  apps/backend/tests/unit/test_tools/test_unified_notification.py
Due: unit, integration, Backend Tools

refactor(supabase): update store tools with improved error handling
  apps/backend/src/one_for_all/tools/supabase_application_store.py
  apps/backend/src/one_for_all/tools/supabase_client.py
  apps/backend/src/one_for_all/tools/supabase_nsfas_store.py
  apps/backend/src/one_for_all/tools/supabase_user_lookup.py
  apps/backend/src/one_for_all/tools/supabase_user_store.py
Due: unit, integration, Backend Tools

feat(db): add analytics indexes, notification logs, and fulltext search migrations
  apps/backend/supabase/SCHEMA_REFERENCE.md
  apps/backend/supabase/migrations/028_analytics_indexes.sql
  apps/backend/supabase/migrations/028_notification_logs.sql
  apps/backend/supabase/migrations/028_rankings_refresh_queue.sql
  apps/backend/supabase/migrations/030_fulltext_search.sql
  apps/backend/supabase/migrations/20240522000000_initial_schema.sql
Due: none

feat(dashboard): enhance agent and chat stores with improved state management
  apps/dashboard/app/providers.tsx
  apps/dashboard/lib/config/featureFlags.ts
  apps/dashboard/lib/hooks/index.ts
  apps/dashboard/lib/hooks/useAgentSessions.ts
  apps/dashboard/lib/hooks/useChatSessions.ts
  apps/dashboard/lib/stores/agentStore.ts
  apps/dashboard/lib/stores/chatStore.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Due: none

chore: update documentation and environment examples
  .env.example
  .gitignore
  apps/backend/.env.example
  apps/backend/CLAUDE.md
  apps/backend/requirements-api.txt
Due: none

feat(security): add CORS policies, audit logging, and SSRF prevention
  apps/backend/.env.example
  apps/backend/src/one_for_all/api/__pycache__/app.cpython-312.pyc
  apps/backend/src/one_for_all/api/__pycache__/dependencies.cpython-312.pyc
  apps/backend/src/one_for_all/api/app.py
  apps/backend/src/one_for_all/api/config/__init__.py
  apps/backend/src/one_for_all/api/config/cors.py
  apps/backend/src/one_for_all/api/middleware/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/api/middleware/__pycache__/audit.cpython-312.pyc
  apps/backend/src/one_for_all/api/middleware/audit.py
  apps/backend/src/one_for_all/api/routers/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/api/routers/__pycache__/applications.cpython-312.pyc
  apps/backend/src/one_for_all/api/routers/__pycache__/nsfas.cpython-312.pyc
  apps/backend/src/one_for_all/api/routers/__pycache__/sessions.cpython-312.pyc
  apps/backend/src/one_for_all/api/schemas/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/analytics_queries.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/comparative_analysis.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/document_validation_intake.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/otp_store.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/otp_verification.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/policy_rag.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/supabase_application_store.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/supabase_client.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/supabase_nsfas_store.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/supabase_user_lookup.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/supabase_user_store.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/vision_tools.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/website_search_tool.cpython-312.pyc
  apps/backend/src/one_for_all/tools/deepseek_vision.py
  apps/backend/src/one_for_all/tools/vision_tools.py
  apps/backend/src/one_for_all/tools/website_search_tool.py
  apps/backend/src/one_for_all/utils/__init__.py
  apps/backend/src/one_for_all/utils/audit_logger.py
  apps/backend/src/one_for_all/utils/ssrf_protection.py
Due: unit, integration, api, Backend API, Backend Tools

chore(tests): remove experimental test files and add phased testing docs
  .docs/application_agents_testing/AGENT_TESTING_STRATEGY.md
  .docs/application_agents_testing/phases/PHASE_1_UNIT_TESTS.md
  .docs/application_agents_testing/phases/PHASE_2_VCR_INTEGRATION.md
  .docs/application_agents_testing/phases/PHASE_3_TRAJECTORY.md
  .docs/application_agents_testing/phases/PHASE_4_SECURITY.md
  .docs/application_agents_testing/phases/PHASE_5_E2E_DASHBOARD.md
  apps/backend/src/one_for_all/tests/profile_parser.py
  apps/backend/src/one_for_all/tests/result_generator.py
  apps/backend/src/one_for_all/tests/run_prospect.py
  apps/backend/src/one_for_all/tests/test_phoenix.py
  apps/backend/tests/unit/test_profile_parser.py
  apps/backend/tests/unit/test_sample.py
Due: none

feat(tests): implement Phase 1 unit tests for CrewAI tools
  apps/backend/.coverage
  apps/backend/tests/unit/test_tools/conftest.py
  apps/backend/tests/unit/test_tools/test_document_review_tools.py
  apps/backend/tests/unit/test_tools/test_nsfas_tools.py
  apps/backend/tests/unit/test_tools/test_otp_verification.py
  apps/backend/tests/unit/test_tools/test_submission_tools.py
  apps/backend/tests/unit/test_tools/test_supabase_rag_tools.py
  apps/backend/tests/unit/test_tools/test_supabase_tools.py
  apps/backend/tests/unit/test_tools/test_website_search_tool.py
Due: none

feat(tests): implement Phase 2 VCR integration tests with tool tracking
  apps/backend/pytest.ini
  apps/backend/src/one_for_all/utils/db_audit.py
  apps/backend/tests/cassettes/TestAuthToolSequence.test_auth_agent_uses_otp_before_session.yaml
  apps/backend/tests/cassettes/TestAuthToolSequence.test_auth_flow_records_all_verification_steps.yaml
  apps/backend/tests/cassettes/TestDocumentHandling.test_all_documents_available.yaml
  apps/backend/tests/cassettes/TestDocumentHandling.test_missing_documents_marked_pending.yaml
  apps/backend/tests/cassettes/TestDocumentRequirements.test_masters_research_proposal_required.yaml
  apps/backend/tests/cassettes/TestDocumentValidation.test_document_status_metadata_structure.yaml
  apps/backend/tests/cassettes/TestDocumentValidation.test_i_will_provide_later_accepted.yaml
  apps/backend/tests/cassettes/TestNSFASConditional.test_nsfas_executed_for_eligible_undergrad.yaml
  apps/backend/tests/cassettes/TestNSFASConditional.test_nsfas_skipped_for_postgrad.yaml
  apps/backend/tests/cassettes/TestNsfasDocumentHandling.test_nsfas_additional_documents.yaml
  apps/backend/tests/cassettes/TestNsfasDocumentHandling.test_nsfas_missing_documents_dont_block.yaml
  apps/backend/tests/cassettes/TestRAGToolSequence.test_rag_agent_queries_db_before_web.yaml
  apps/backend/tests/cassettes/TestRAGToolSequence.test_rag_caches_web_results.yaml
  apps/backend/tests/cassettes/TestSessionCreation.test_session_created_on_otp_verify.yaml
  apps/backend/tests/cassettes/TestSessionCreation.test_session_not_created_on_invalid_otp.yaml
  apps/backend/tests/cassettes/TestSessionExpiry.test_expired_sessions_rejected.yaml
  apps/backend/tests/cassettes/TestSessionExpiry.test_session_refresh_before_expiry.yaml
  apps/backend/tests/cassettes/TestSessionIsolation.test_session_isolation_between_users.yaml
  apps/backend/tests/cassettes/TestSessionIsolation.test_user_cannot_access_other_session.yaml
  apps/backend/tests/cassettes/TestSessionPersistence.test_session_data_accumulates.yaml
  apps/backend/tests/cassettes/TestSessionPersistence.test_session_token_persists_across_tasks.yaml
  apps/backend/tests/cassettes/TestSubmissionToolSequence.test_submission_agent_compiles_before_submit.yaml
  apps/backend/tests/cassettes/TestSubmissionToolSequence.test_submission_records_confirmation.yaml
  apps/backend/tests/cassettes/TestUndergraduateApplicationFlow.test_aps_too_low_promotes_second_choice.yaml
  apps/backend/tests/cassettes/TestUndergraduateApplicationFlow.test_complete_flow_eligible_student.yaml
  apps/backend/tests/conftest.py
  apps/backend/tests/integration/conftest.py
  apps/backend/tests/integration/test_document_upload.py
  apps/backend/tests/integration/test_nsfas_flow.py
  apps/backend/tests/integration/test_postgraduate_flow.py
  apps/backend/tests/integration/test_session_state.py
  apps/backend/tests/integration/test_tool_calls.py
  apps/backend/tests/integration/test_undergraduate_flow.py
Due: unit, integration

feat(tests): implement Phase 3 trajectory tests with security-hardened VCR
  .pre-commit-config.yaml
  apps/backend/.gitignore
  apps/backend/tests/cassettes/trajectories/.gitkeep
  apps/backend/tests/trajectories/__init__.py
  apps/backend/tests/trajectories/conftest.py
  apps/backend/tests/trajectories/security/__init__.py
  apps/backend/tests/trajectories/security/cassette_auditor.py
  apps/backend/tests/trajectories/security/secret_patterns.py
  apps/backend/tests/trajectories/test_document_workflow.py
  apps/backend/tests/trajectories/test_eligibility_promotion.py
  apps/backend/tests/trajectories/test_nsfas_conditional.py
  apps/backend/tests/trajectories/test_postgraduate_flow.py
  apps/backend/tests/trajectories/test_undergraduate_flow.py
Due: none

feat(tests): implement Phase 4 security & adversarial tests
  apps/backend/tests/security/__init__.py
  apps/backend/tests/security/conftest.py
  apps/backend/tests/security/test_prompt_injection.py
  apps/backend/tests/security/test_session_security.py
  apps/backend/tests/security/test_tenant_isolation.py
  apps/backend/tests/security/test_tool_abuse.py
Due: none

feat(tests): implement Phase 5 E2E & API integration tests
  .github/workflows/e2e-tests.yml
  apps/backend/tests/api/__init__.py
  apps/backend/tests/api/test_agents.py
  apps/backend/tests/api/test_health.py
  apps/backend/tests/api/test_sessions.py
  apps/backend/tests/performance/locustfile.py
  apps/dashboard/.gitignore
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
  apps/dashboard/tests/e2e/application-review.spec.ts
  apps/dashboard/tests/e2e/auth.spec.ts
  apps/dashboard/tests/e2e/global-setup.ts
  apps/dashboard/tests/e2e/helpers.ts
  apps/dashboard/tests/e2e/institution-setup.spec.ts
  apps/dashboard/tests/e2e/team-management.spec.ts
  pnpm-lock.yaml
Due: none

Re-align testing framework with actual testing requirements
  .docs/application_agents_testing/phases/PHASE_1_UNIT_TESTS.md
  .docs/application_agents_testing/phases/PHASE_2_VCR_INTEGRATION.md
  .docs/application_agents_testing/phases/PHASE_3_TRAJECTORY.md
  .docs/application_agents_testing/phases/PHASE_4_SECURITY.md
  .docs/application_agents_testing/phases/PHASE_5_E2E_DASHBOARD.md
  apps/backend/CLAUDE.md
  apps/backend/tests/integration/test_crew_smoke.py
  apps/dashboard/app/dashboard/[institution_slug]/campuses/new/page.tsx
  apps/dashboard/app/dashboard/[institution_slug]/page.tsx
  apps/dashboard/app/dashboard/[institution_slug]/setup/page.tsx
  apps/dashboard/components/applications/DocumentRow.tsx
  apps/dashboard/tests/e2e/team-management.spec.ts
Due: none
