Repository Bantuson/one-for-all: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, Backend API, Backend Tools, Backend Crew

feat(testing): add comprehensive CI/CD pipeline and production-ready test suite
  apps/backend/pytest.ini
  apps/backend/src/one_for_all.egg-info/PKG-INFO
  apps/backend/src/one_for_all.egg-info/SOURCES.txt
  apps/backend/src/one_for_all.egg-info/dependency_links.txt
  apps/backend/src/one_for_all.egg-info/requires.txt
  apps/backend/src/one_for_all.egg-info/top_level.txt
  apps/backend/src/one_for_all/config/__pycache__/test_config.cpython-312-pytest-9.0.2.pyc
  apps/backend/src/one_for_all/tools/__pycache__/supabase_client.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/mock_nsfas_tool.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/mock_otp_sender.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/mock_sms_sender.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/mock_status_tool.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/mock_submission_tool.cpython-312.pyc
  apps/backend/src/one_for_all/tools/mocks/__pycache__/mock_whatsapp_sender.cpython-312.pyc
  apps/backend/src/one_for_all/tools/supabase_client.py
  apps/backend/test_imports.py
  apps/backend/tests/__pycache__/conftest.cpython-312-pytest-8.4.1.pyc
  apps/backend/tests/__pycache__/conftest.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/api/__pycache__/test_endpoints.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/conftest.py
  apps/backend/tests/integration/__pycache__/__init__.cpython-312.pyc
  apps/backend/tests/integration/__pycache__/test_document_upload.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/integration/__pycache__/test_nsfas_flow.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/integration/__pycache__/test_postgraduate_flow.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/integration/__pycache__/test_undergraduate_flow.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/unit/__pycache__/__init__.cpython-312.pyc
  apps/backend/tests/unit/__pycache__/test_isolation.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/unit/__pycache__/test_otp_verification.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/unit/__pycache__/test_profile_parser.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/unit/__pycache__/test_sample.cpython-312-pytest-9.0.2.pyc
Due: unit, integration, Backend Tools

feat(testing): add comprehensive CI/CD pipeline and production-ready test suite
  .docs/application_agents_testing/ci_cd/FILES_CREATED.md
  .docs/application_agents_testing/ci_cd/PIPELINE_DIAGRAM.txt
  .docs/application_agents_testing/ci_cd/README.md
Due: none

feat(backend): CI/CD pipeline and production readiness improvements
  .github/workflows/backend-ci.yml
  apps/backend/supabase/migrations/20260108_storage_rls_policies.sql
  apps/backend/tests/api/__pycache__/test_endpoints.cpython-312-pytest-9.0.2.pyc
  apps/backend/tests/api/test_endpoints.py
Due: none

fix(tests): make API tests CI-compatible
  .github/workflows/backend-ci.yml
  apps/backend/tests/api/test_endpoints.py
Due: none

fix(ci): skip LLM-heavy integration tests in CI
  .github/workflows/backend-ci.yml
Due: none

fix(ci): skip integration tests in CI entirely
  .github/workflows/backend-ci.yml
Due: none

feat(ci): add integration smoke tests for fast CI feedback
  .github/workflows/backend-ci.yml
  apps/backend/pyproject.toml
  apps/backend/tests/cassettes/.gitkeep
  apps/backend/tests/conftest.py
  apps/backend/tests/integration/test_crew_smoke.py
  apps/backend/tests/integration/test_document_upload.py
  apps/backend/tests/integration/test_nsfas_flow.py
  apps/backend/tests/integration/test_postgraduate_flow.py
  apps/backend/tests/integration/test_undergraduate_flow.py
Due: none

fix(backend): handle env loading for Render deployment
  apps/backend/src/one_for_all/api/dependencies.py
  apps/backend/src/one_for_all/tools/api_client.py
  apps/backend/src/one_for_all/tools/supabase_client.py
  apps/backend/src/one_for_all/tools/whatsapp_handler.py
  apps/backend/tests/integration/__pycache__/test_crew_smoke.cpython-312-pytest-9.0.2.pyc
Due: unit, integration, api, Backend API, Backend Tools

fix(render): specify full Python version 3.12.0
  apps/backend/render.yaml
Due: none

fix(deps): add uvicorn, fastapi and API dependencies
  apps/backend/pyproject.toml
Due: none

fix(render): change branch to main and upgrade pip in build
  apps/backend/render.yaml
Due: none

fix(render): use python -m uvicorn for reliable startup
  apps/backend/render.yaml
Due: none

fix(render): add requirements.txt for Render default build
  apps/backend/requirements.txt
Due: none

fix(render): remove PYTHON_VERSION, use Render default
  apps/backend/render.yaml
Due: none

fix(render): use minimal API deps to reduce memory usage
  apps/backend/render.yaml
  apps/backend/requirements-api.txt
  apps/backend/requirements.txt
Due: none

fix(render): use clean API entry point (api.app:app)
  apps/backend/render.yaml
Due: none

fix(render): move render.yaml to repo root for Blueprint detection
  render.yaml
Due: none

fix(render): add main.py entry point to fix module import
  apps/backend/main.py
  apps/backend/render.yaml
  render.yaml
Due: none

fix(render): use PYTHONPATH env var for src layout module resolution
  apps/backend/main.py
  apps/backend/render.yaml
  render.yaml
Due: none

fix(render): add --app-dir src flag for uvicorn module resolution
  apps/backend/render.yaml
  render.yaml
Due: none

fix(render): add email-validator for Pydantic EmailStr
  apps/backend/requirements-api.txt
Due: none

fix(ci): add STAGING_API_KEY for E2E test authentication
  .github/workflows/backend-ci.yml
Due: none

fix(ci): set env vars directly for E2E test step
  .github/workflows/backend-ci.yml
Due: none

fix(e2e): make tests more lenient with API response codes
  apps/backend/tests/e2e/test_full_workflow.py
Due: none

fix(ci): make Locust load tests non-blocking
  .github/workflows/backend-ci.yml
Due: none

fix(ci): make performance threshold check non-blocking
  .github/workflows/backend-ci.yml
Due: none

fix(ci): make coverage threshold check non-blocking
  .github/workflows/backend-ci.yml
Due: none

feat(dashboard): implement institution-level custom roles system
  .docs/dashboard-components.md
  apps/backend/supabase/migrations/011_institution_roles.sql
  apps/backend/supabase/migrations/012_update_institution_members.sql
  apps/dashboard/app/api/institutions/[institutionId]/members/route.ts
  apps/dashboard/app/api/institutions/[institutionId]/roles/[roleId]/route.ts
  apps/dashboard/app/api/institutions/[institutionId]/roles/route.ts
  apps/dashboard/app/api/setup/complete/route.ts
  apps/dashboard/app/dashboard/[institution_slug]/team/page.tsx
  apps/dashboard/components/roles/RoleBadge.tsx
  apps/dashboard/components/roles/RoleCard.tsx
  apps/dashboard/components/roles/RoleDeleteDialog.tsx
  apps/dashboard/components/roles/RoleForm.tsx
  apps/dashboard/components/roles/RolePermissionGrid.tsx
  apps/dashboard/components/roles/RoleSelector.tsx
  apps/dashboard/components/roles/hooks/useRoleMutations.ts
  apps/dashboard/components/roles/hooks/useRoles.ts
  apps/dashboard/components/roles/index.ts
  apps/dashboard/components/setup/TeamInviteStep.tsx
  apps/dashboard/lib/constants/index.ts
  apps/dashboard/lib/constants/permissions.ts
  apps/dashboard/lib/stores/setupStore.ts
  apps/dashboard/lib/stores/unifiedRegistrationStore.ts
Due: none

feat(dashboard): add skeleton loading states and refine role UI
  .docs/dashboard-components.md
  apps/dashboard/app/dashboard/[institution_slug]/team/page.tsx
  apps/dashboard/app/providers.tsx
  apps/dashboard/components/roles/RoleCard.tsx
  apps/dashboard/components/roles/RoleForm.tsx
  apps/dashboard/components/roles/RolePermissionGrid.tsx
  apps/dashboard/components/roles/RoleSelector.tsx
  apps/dashboard/components/setup/TeamInviteStep.tsx
  apps/dashboard/components/ui/ModalHeader.tsx
  apps/dashboard/components/ui/Skeleton.tsx
  apps/dashboard/lib/constants/permissions.ts
Due: none

feat(backend): implement APS ranking agent
  apps/backend/src/one_for_all/config/agents.yaml
  apps/backend/src/one_for_all/config/tasks.yaml
  apps/backend/src/one_for_all/crews/__init__.py
  apps/backend/src/one_for_all/crews/aps_ranking_crew.py
  apps/backend/src/one_for_all/tools/__init__.py
  apps/backend/src/one_for_all/tools/aps_calculator.py
  apps/backend/src/one_for_all/tools/course_requirements.py
  apps/dashboard/app/api/agents/aps-ranking/[sessionId]/route.ts
  apps/dashboard/app/api/agents/aps-ranking/route.ts
Due: unit, integration, Backend Tools, Backend Crew

feat: implement reviewer assistant agent with RAG
  apps/backend/src/one_for_all/config/agents.yaml
  apps/backend/src/one_for_all/config/tasks.yaml
  apps/backend/src/one_for_all/crews/__init__.py
  apps/backend/src/one_for_all/crews/reviewer_assistant_crew.py
  apps/backend/src/one_for_all/tools/__init__.py
  apps/backend/src/one_for_all/tools/comparative_analysis.py
  apps/backend/src/one_for_all/tools/policy_rag.py
  apps/dashboard/app/api/agents/reviewer-assistant/route.ts
  apps/dashboard/components/agents/ReviewerChat.tsx
  apps/dashboard/components/agents/index.ts
Due: unit, integration, Backend Tools, Backend Crew

feat(backend): implement document reviewer agent with GPT-4V
  apps/backend/src/one_for_all/config/agents.yaml
  apps/backend/src/one_for_all/crew.py
  apps/backend/src/one_for_all/crews/__init__.py
  apps/backend/src/one_for_all/crews/document_reviewer_crew.py
  apps/backend/src/one_for_all/tools/__init__.py
  apps/backend/src/one_for_all/tools/vision_tools.py
  apps/dashboard/app/api/agents/document-review/route.ts
Due: unit, integration, Backend Tools, Backend Crew

feat: implement analytics agent with Recharts
  apps/backend/src/one_for_all/config/agents.yaml
  apps/backend/src/one_for_all/config/tasks.yaml
  apps/backend/src/one_for_all/crews/__init__.py
  apps/backend/src/one_for_all/crews/analytics_crew.py
  apps/backend/src/one_for_all/tools/__init__.py
  apps/backend/src/one_for_all/tools/analytics_queries.py
  apps/backend/src/one_for_all/tools/chart_config.py
  apps/backend/supabase/migrations/024_saved_charts.sql
  apps/dashboard/app/api/agents/analytics/[chartId]/pin/route.ts
  apps/dashboard/app/api/agents/analytics/route.ts
  apps/dashboard/app/api/agents/analytics/stats/route.ts
  apps/dashboard/components/analytics/AnalyticsDashboard.tsx
  apps/dashboard/components/analytics/ChartRenderer.tsx
  apps/dashboard/components/analytics/index.ts
  apps/dashboard/package.json
Due: unit, integration, Backend Tools, Backend Crew

feat: integrate agent sandbox with realtime updates and Bun runner
  .docs/admissions-processing-roadmap.md
  .docs/dashboard-components.md
  apps/backend/src/one_for_all/api/app.py
  apps/backend/src/one_for_all/api/routers/__init__.py
  apps/backend/src/one_for_all/api/routers/agents.py
  apps/dashboard/app/dashboard/[institution_slug]/layout.tsx
  apps/dashboard/components/dashboard/DashboardHeader.tsx
  apps/dashboard/components/dashboard/RealtimeSubscriptionProvider.tsx
  apps/dashboard/lib/stores/agentStore.ts
  apps/dashboard/package.json
  apps/dashboard/scripts/agent-runner.ts
Due: unit, integration, api, Backend API

feat: implement ChatGPT-style agent chat interface with session management
  apps/backend/src/one_for_all/config/agents.yaml
  apps/backend/src/one_for_all/crews/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/crews/__pycache__/analytics_crew.cpython-312.pyc
  apps/backend/src/one_for_all/crews/__pycache__/aps_ranking_crew.cpython-312.pyc
  apps/backend/src/one_for_all/crews/__pycache__/document_reviewer_crew.cpython-312.pyc
  apps/backend/src/one_for_all/crews/__pycache__/reviewer_assistant_crew.cpython-312.pyc
  apps/backend/src/one_for_all/crews/aps_ranking_crew.py
  apps/backend/src/one_for_all/crews/document_reviewer_crew.py
  apps/backend/src/one_for_all/tools/__init__.py
  apps/backend/src/one_for_all/tools/__pycache__/__init__.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/analytics_queries.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/application_tools.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/aps_calculator.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/chart_config.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/comparative_analysis.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/course_requirements.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/document_review_tools.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/policy_rag.cpython-312.pyc
  apps/backend/src/one_for_all/tools/__pycache__/vision_tools.cpython-312.pyc
  apps/backend/src/one_for_all/tools/application_tools.py
  apps/dashboard/app/api/agents/_shared/auth.ts
  apps/dashboard/app/api/agents/analytics/chat/route.ts
  apps/dashboard/app/api/agents/aps-ranking/chat/route.ts
  apps/dashboard/app/api/agents/document-reviewer/chat/route.ts
  apps/dashboard/app/api/agents/reviewer-assistant/chat/route.ts
  apps/dashboard/app/api/agents/sessions/[sessionId]/messages/route.ts
  apps/dashboard/app/api/agents/sessions/[sessionId]/route.ts
  apps/dashboard/app/dashboard/[institution_slug]/applications/page.tsx
  apps/dashboard/components/agents/AgentChatArea.tsx
  apps/dashboard/components/agents/AgentInstructionModal.tsx
  apps/dashboard/components/agents/AgentSidebar.tsx
  apps/dashboard/components/agents/index.ts
  apps/dashboard/components/dashboard/DashboardHeader.tsx
  apps/dashboard/lib/stores/chatStore.ts
Due: unit, integration, Backend Tools, Backend Crew

fix(ui): reduce ApplicationCard density and font sizing
  .docs/dashboard-components.md
  apps/dashboard/app/dashboard/[institution_slug]/applications/page.tsx
  apps/dashboard/components/agents/AgentActivityButton.tsx
  apps/dashboard/components/agents/AgentChatArea.tsx
  apps/dashboard/components/agents/AgentInstructionModal.tsx
  apps/dashboard/components/applications/ApplicationCard.tsx
  apps/dashboard/components/ui/CodeCard.tsx
  apps/dashboard/components/ui/ModalHeader.tsx
  apps/dashboard/components/ui/TrafficLights.tsx
  apps/dashboard/lib/stores/chatStore.ts
Due: none

docs(security): add AI system security assessment and attack surface mapping
  .docs/attack-mapping/AI_SYSTEM_SECURITY_ASSESSMENT.md
  .docs/attack-mapping/deffense_startegies.md
  .docs/attack-mapping/surface-mapping.md
  .docs/backend-components.md
Due: none

feat(security): implement OTP hashing with bcrypt and constant-time verification
  apps/backend/pyproject.toml
  apps/backend/src/one_for_all/tools/otp_store.py
  apps/backend/src/one_for_all/tools/otp_verification.py
  apps/backend/src/one_for_all/utils/__init__.py
  apps/backend/src/one_for_all/utils/otp_crypto.py
Due: unit, integration, Backend Tools

Path conditions:
  unit: any of: apps/backend/src/, but not: **/__pycache__/**, **/tests/**, **/.venv/**, **/node_modules/**, **/*.md, **/migrations/**
  integration: any of: apps/backend/src/, but not: **/__pycache__/**, **/tests/**, **/.venv/**, **/node_modules/**, **/*.md, **/migrations/**
  api: any of: apps/backend/src/one_for_all/api/, but not: **/__pycache__/**, **/tests/**, **/.venv/**, **/node_modules/**, **/*.md, **/migrations/**
  Backend API: any of: apps/backend/src/one_for_all/api/**, but not: **/__pycache__/**, **/tests/**, **/.venv/**, **/node_modules/**, **/*.md, **/migrations/**
  Backend Tools: any of: apps/backend/src/one_for_all/tools/**, but not: **/__pycache__/**, **/tests/**, **/.venv/**, **/node_modules/**, **/*.md, **/migrations/**
  Backend Crew: any of: apps/backend/src/one_for_all/crew.py, apps/backend/src/one_for_all/config/**, but not: **/__pycache__/**, **/tests/**, **/.venv/**, **/node_modules/**, **/*.md, **/migrations/**
